<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.film.mapper.CheckUserAndPassword">
    <resultMap id="BaseResultMap" type="com.example.film.model.Manager">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <select id="checkUAP" resultMap="BaseResultMap">
        select *
        from manager
        where username = #{username} and password = #{password}
    </select>

    <insert id="addUser">
        insert into manager(username, password)
        values(#{username}, #{password})
    </insert>

    <select id="getAllESProductList" resultMap="BaseResultMap">
        select id, username, password
        from manager
        where id = #{id}
    </select>

</mapper>