<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.film.mapper.WebsiteRecommend">
    <resultMap id="BaseResultMap" type="com.example.film.model.Website">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>


    <select id="getAllWebsite" resultMap="BaseResultMap">
        select *
        from website
    </select>

    <select id="getName" resultType="java.lang.String">
        select name
        from website
        where id = #{id}
    </select>

</mapper>